
QMainWindow {
    background-color: #0f0f0f;
    /* color: white; */
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


QPushButton {
    background-color: black;  /* Default background color */
    color: white;             /* Default text color */
}

QPushButton:hover {
    background-color: gray;   /* Background color when hovered */
    color: red;            /* Text color when hovered */
}

QPushButton:pressed {
    background-color: blue;    /* Background color when pressed */
    color: white;              /* Text color when pressed */
}

QLabel#lbl0 {
    font-size: 12px;
    color: #ff3322;
    font-weight: bold;
}

 
QLabel {
    font-size: 15px;
    color: #fff11198;
}
